<%= flash[:error] %>

<form action="/sign_user_in">

  <input type="text" placeholder="Username" name="username"/>
  <input type="password" placeholder="Password" name="password"/>
  <br>
  <br>
  <input type="text" placeholder="API Token" name="api_token"/>
  <button href="">Sign In</button>
</form>