%ul.user_list.nav.nav-list
  %li.nav-header
    Users
    
  %i.icon-minus-sign.hide_list
  {{#users}}
  %li
    %a{:href => "#"} {{.}}
  {{/users}}   
%br
%br
%ul.story_list.nav.nav-list
  %li.nav-header Stories  
  %li.nav-search 
    %input.input(type="text" placeholder="Search stories...")  
  {{#stories}}
  %li(data-pk-story-id= "{{id}}" class="{{current_state}}")
    %a {{name}}
  {{/stories}}
