%h2 {{ name }}
%h3 by {{owned_by}}, for {{requested_by}}
<br>
%h4 labels: {{labels.length}}
%h4 current_state: {{current_state}}
%h4 started: {{started}}
%h4 estimate: {{estimate}}
%h4 owned_by: {{owned_by}}
%h4 requested_by: {{requested_by}}
%h4 story_type: {{story_type}}
%h4 created_at: {{created_at}}
%h4 accepted_at: {{accepted_at}}
%h4 Attachments: {{attachments.length}}
