.span12
  %h2 {{ name }}
  %span.story_for
    by
    %a {{owned_by}}    
  %span.story_by
    for
    %a {{requested_by}}
  
    
  %h4 labels {{labels}}
  %h4 current_state: {{current_state}}
  %h4 estimate: {{estimate}}
  %h4 story_type: {{story_type}}
  %h4 created_at: {{created_at}}
  %h4 accepted_at: {{accepted_at}}
  %h4 Attachments: {{attachments.length}}
