.navbar.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => "#"} Sprinter
      %a(href="sign_user_out") SignOut
      .container-fluid.nav-collapse
        %ul.nav


.container-fluid
  .row-fluid
    .span3
      .sprintNumber
    .span3
      .sprintEnd
    .span3
      .sprintPoints
  .row-fluid
    .span3
      .sidebar-nav
        %img(src="http://www.mesothelioma.uk.com/editorimages/running.gif" style="width:100px;height:100px;")

    .span9
      .standup_view
        dfsdd



